<header style="color:white;">
	<md-toolbar layout="row" class="md-whiteframe-z1 md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<h1 flex layout-align="center center" style="color:white;">
				<span> Dependencias </span>
			</h1>
		</div>
	</md-toolbar>
</header>

<div layout="column" layout-padding ng-cloak>
{{dependencias}}
	<md-content class="inputdemoErrors" layout-padding="">
	    <form name="mainForm" ng-submit="sendForm()" novalidate>
		    <md-input-container class="md-block">
		        <label>Nombre</label>
		        <input type="text" name="nombre" ng-model="pform.nombre" required>
		        <div ng-messages="mainForm.nombre.$error" role="alert" ng-if="mainForm.nombre.$touched">
			        <div ng-message-exp="required">Valor requerido</div>
		        </div>
		    </md-input-container>

	      	<md-input-container class="md-block">
		        <label>Descripcion</label>
		        <input name="descripcion" type="text" ng-model="pform.descripcion" required="">
		        <div ng-messages="mainForm.descripcion.$error" role="alert" ng-if="mainForm.descripcion.$touched">
			        <div ng-message-exp="required">Valor requerido</div>
		        </div>
	      	</md-input-container>

	      	<md-input-container class="md-block">
		        <label>Entidad</label>
		        <md-select ng-model="pform.entidadId" placeholder="Entidad" required>
					<md-option ng-value="opt.id" ng-repeat="opt in entidades">{{ opt.nombre }}</md-option>
				</md-select>
	      	</md-input-container>

	      	<div layout-align="center center">
	    		<md-button type="submit" class="md-raised md-primary">Agregar</md-button>
	    	</div>
	    </form>
  	</md-content>
</div>