<div class="inmodal eliminar-dato">
    <form name="mainForm" ng-submit="sendForm()" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Eliminar</h4>
            <p>Realmente deseas eliminar el siguiente dato.</p>
            <i class="fa fa-exclamation-triangle modal-icon" aria-hidden="true"></i>
            <div class="row">
               <div class="col-xs-8 col-xs-offset-2">
                   <div class="row">
                       <div class="col-xs-6">
                            <button ng-click="" class="button full-width  button--efecto">SI</button>
                        </div>
                        <div class="col-xs-6">
                    <button ng-click="cancel()" class="button full-width  button--efecto">NO</button>
                </div>
                   </div>
                   
               </div>
                
                
            </div>
        </div>
    </form>
</div>