<div class="inmodal">
	<form name="mainForm" ng-submit="sendForm()" novalidate>
	    <div class="modal-header">
	        <i class="fa fa-laptop modal-icon"></i>
	        <h4 class="modal-title">Editar Dependencia</h4>
	        <small class="font-bold">Edita los datos de la dependencia.</small>
	    </div>
	    <div class="modal-body">
	        <div class="form-group">
	        	<label>Nombre</label>
	        	<input type="text" name="nombre" ng-model="pform.nombre" class="form-control" ng-value="dependencia.nombre">
	        </div>
	        <div class="form-group">
	        	<label>Descripción</label>
	        	<input type="text" name="descripcion" ng-model="pform.descripcion" class="form-control" ng-value="dependencia.descripcion">
	        </div>
	        <div class="form-group">
	        	<label class="col-sm-2 control-label">Entidad</label>
                <select class="form-control m-b" name="entidadId" ng-model="pform.entidadId" ng-value="dependencia.entidadId">
                    <option ng-value="opt.id" ng-repeat="opt in entidades">{{ opt.nombre }}</option>
                </select>
            </div>
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-white" ng-click="cancel()">Cerrar</button>
	        <input type="submit" class="btn btn-primary" value="Editar" />
	    </div>
    </form>
</div>