<div class="row wrapper page-heading">
	<div class="col-lg-9">
		<h2>Establecimientos</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h3>Buscar Establecimientos</h3>
				</div>
				<div class="col-md-10 col-md-offset-1 ibox-content box">
                    <!--formulario -->
                    <div class="formulario">
                        <form action="">
                            <h2>Datos basicos</h2>
                            <!--formulario row 1 -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="pform.Observac" class="form-control" required="required">
                                        <label class="control-label">Numero de matricula:</label>
                                        <i class="bar"></i>
                                    </div>
                                </div>
                            </div>
                            <!--fin formulario row 1 -->
                            <!--formulario row 1 -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="pform.Observac" class="form-control" required="required">
                                        <label class="control-label">Nit:</label>
                                        <i class="bar"></i>
                                    </div>
                                </div>
                            </div>
                            <!--fin formulario row 1 -->
                            <!--formulario row 1 -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="pform.Observac" class="form-control" required="required">
                                        <label class="control-label">Razón social:</label>
                                        <i class="bar"></i>
                                    </div>
                                </div>
                            </div>
                            <!--fin formulario row 1 -->
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="button full-width  button--efecto">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--fin del formulario -->
                </div>
			</div>
		</div>
	</div>
	
</div>