<div class="inmodal formulario">
    <form ng-submit="sendForm()" novalidate="novalidate">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h4 class="modal-title">Editar Entidad</h4>
            <p class="font-bold">Edita los datos de la entidad.</p>
            <i class="fa fa-university modal-icon"></i>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <input  type="text"
                            ng-model="pform.nombre" 
                            class="form-control"
                            ng-required-err-type="isReq"
                            required="required"
                    >
                    <label class="control-label">Nombre</label>
                    <i class="bar"></i>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input 
                        type="text"
                        ng-model="pform.descripcion" 
                        class="form-control" 
                    >
                    <label class="control-label">Descripción</label>
                    <i class="bar"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" 
                            class="button full-width  button--efecto"
                            ladda="submitting"
                            data-style="expand-right"
                    >
                    Editar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>